.container {
  padding: 48px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  margin-bottom: 49px;
}

.search {
  width: 100%;
  padding: 20px;
  color: rgba(68, 75, 88, 1);
  background-color: rgba(246,246,246);
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-bottom: 48px;
}

.search::-webkit-input-placeholder {
  color: rgba(178, 181, 187, 1);
}

.search::-moz-placeholder {
  color: rgba(178, 181, 187, 1);
}

.search::-ms-input-placeholder {
  color: rgba(178, 181, 187, 1);
}

.search:-ms-input-placeholder {
  color: rgba(178, 181, 187, 1);
}

.search::placeholder {
  color: rgba(178, 181, 187, 1);
}

.btn {
  display: flex;
  margin: auto;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 20px 50px;
  background-color: rgba(241, 79, 79, 1);
  cursor: pointer;
}

.btn:hover,
.btn:focus-visible {
  background-color: rgba(140, 40, 40, 1);
}

.message {
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-size: 30px;
}

.remove {
  display: none;
}
