.container {
  display: flex;
  align-items: center;
}

.text {
  position: relative;
  width: fit-content;
  margin-right: 6px;
}

.text::after {
  display: none;
  content: '';
  position: absolute;
  bottom: 2px;
  width: 100%;
  border-bottom: 1px solid rgba(196, 196, 196, 1);
}

.container:hover .text::after,
.container:focus-visible .text::after {
  display: block;
}

.container:hover .text,
.container:focus-visible .text {
  color: rgba(196, 196, 196, 1);
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  transform: translate(25%, 25%);
  background-color: rgba(241, 79, 79, 1);
  border-radius: 6px;
  font-size: 8px;
  line-height: 8px;
  font-weight: 400;
}


