.header {
  background-color: rgba(72, 66, 131, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}

.link {
  max-height: 44px;
}

@media (max-width: 620px) {
  .container {
    flex-direction: column;
  }

  .link {
    margin-bottom: 10px;
  }
}
