.footer {
  background-color: rgba(68, 75, 88, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 0;
}

.link {
  max-height: 44px;
}

@media (max-width: 400px) {
  .container {
    flex-direction: column-reverse;
  }

  .link {
    margin-top: 10px;
  }
}
